<div ng-controller="activity_ship.ctrl">
    <div class="main content4">
        <h3>活动管理</h3>
        <div class="content5_head">
            <a ng-click="changeShip(0)" ng-class="{active:shipIndex==0}">已发送图文消息（共<span>6</span>条）</a>
            <a ng-click="changeShip(1)" ng-class="{active:shipIndex==1}">收到投稿消息</a>
        </div>
        <div class="border_bottom"></div>
        <div class="search">
            <input type="text" class="text" placeholder="在这里输入要查找的用户">
            <input type="button" class="button" value="搜索">
        </div>
        <ul class="activity_simple">
            <li ng-click="activity_detail()">
                <a>
                    <p class="activity_time">2015年12月24日</p>
                    <p>活动主题在这里</p>
                    <img src="">
                    <span class="activity_abs">活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘
                        要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要
                    </span>
                </a>
            </li>
            <li ng-click="activity_detail()">
                <a>
                    <p class="activity_time">2015年12月24日</p>
                    <p>活动主题在这里</p>
                    <img src="">
                    <span class="activity_abs">活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘
                        要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要
                    </span>
                </a>
            </li>
            <li ng-click="activity_detail()">
                <a>
                    <p class="activity_time">2015年12月24日</p>
                    <p>活动主题在这里</p>
                    <img src="">
                    <span class="activity_abs">活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘
                        要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要
                    </span>
                </a>
            </li>
            <li ng-click="activity_detail()">
                <a>
                    <p class="activity_time">2015年12月24日</p>
                    <p>活动主题在这里</p>
                    <img src="">
                    <span class="activity_abs">活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘
                        要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要
                    </span>
                </a>
            </li>
            <li ng-click="activity_detail()">
                <a>
                    <p class="activity_time">2015年12月24日</p>
                    <p>活动主题在这里</p>
                    <img src="">
                    <span class="activity_abs">活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘
                        要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要
                    </span>
                </a>
            </li>
            <li ng-click="activity_detail()">
                <a>
                    <p class="activity_time">2015年12月24日</p>
                    <p>活动主题在这里</p>
                    <img src="">
                    <span class="activity_abs">活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘
                        要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要活动摘要
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>