<div ng-controller="menu1.ctrl">
    <div class="main manageMan">
        <h3>管理员信息</h3>
        <div class="content5_head">
            <a>管理人员列表</a>
            <div class="search_right search">
                <input type="text" class="text" placeholder="在这里输入要查找的管理员" name="searchname">
                <input type="button" class="button" value="搜索">
            </div>
        </div>
        <div class="border_bottom"></div>
        <table class="manage_list" border="1">
            <tr>
                <th>用户名</th>
                <th>学号</th>
                <th>联系方式</th>
                <th>删除</th>
                <th>修改</th>
            </tr>
        </table>
        <button class="button addbtn">增加</button>
    </div>
</div>