<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.du.wx.mapper.joggle.AdminUserDao">
	<select id="queryAdminUser" resultType="AdminUser">
		select * from admin_user where name=#{0} and password=#{1}
	</select>
	
	<select id="queryAdminUsers" resultType="AdminUser">
		select * from admin_user where type=#{type}
	</select>
	
	<select id="queryAdminByName" resultType="AdminUser">
		select * from admin_user where name=#{0}
	</select>
	
	<insert id="addAdmin" parameterType="AdminUser">
		insert into admin_user(name,password,lno,phone,type)
		values(#{name},#{password},#{lno},#{phone},#{type})
	</insert>
	
	<delete id="deleteAdmin">
		delete from admin_user where name=#{0}
	</delete>
</mapper>